<div class="anuncio-list">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome do Anúncio</th>
        <th>Cliente</th>
        <th>Data de Início</th>
        <th>Data de Término</th>
        <th>Investimento por Dia</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usercon of anuncios">
        <td>{{ usercon.id }}</td>
        <td>{{ usercon.nome }}</td>
        <td>{{ usercon.cliente }}</td>
        <td>{{ usercon.inicio }}</td>
        <td>{{ usercon.termino }}</td>
        <td>{{ usercon.investimento }}</td>
        <td>
          <button class=" btn btn-primary " (click)="editAnuncio(usercon) ">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger ml-2 " (click)="deleteAnuncio(usercon) ">Delete</button>
        </td>
      </tr>


    </tbody>
  </table>
</div>
